<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">
	
	<context:property-placeholder location="classpath:/db.properties"/>
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		  p:driverClassName="${db.driver}"
		  p:url="${db.url}"
		  p:username="${db.username}"
		  p:password="${db.password}"/>
	
	<bean id="sqlSessionFactory" 
		class="org.mybatis.spring.SqlSessionFactoryBean"
		p:configLocation="classpath:/SqlMapConfig.xml"
		p:dataSource-ref="dataSource"/><!-- 객체는 ref로 무조건 줘야함 -->
		
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
			<constructor-arg>
				<ref bean="sqlSessionFactory"/>
			</constructor-arg>
	</bean>
	
		
	<bean id="userDao" class="com.kodb.model.dao.UserDaoImpl"
			p:session-ref="sqlSessionTemplate"/>
			
	<bean id="userService" class="com.kodb.model.service.UserServiceImpl"
		p:userDao-ref="userDao"/> <!-- 이 객체가 한번 만들어 지니까 scope는 따로 안해줘도됨 default는 singleton임 -->

	<bean id="boardDao" class="com.kodb.model.dao.BoardDaoImpl"
			p:session-ref="sqlSessionTemplate"/>

    <bean id="boardService" class="com.kodb.model.service.BoardServiceImpl"
		p:boardDao-ref="boardDao"/> <!-- 이 객체가 한번 만들어 지니까 scope는 따로 안해줘도됨 default는 singleton임 -->
		
	<bean id="placeDao" class="com.kodb.model.dao.PlaceDaoImpl"
		p:session-ref="sqlSessionTemplate"/>

    <bean id="placeService" class="com.kodb.model.service.PlaceServiceImpl"
		p:placeDao-ref="placeDao"/> <!-- 이 객체가 한번 만들어 지니까 scope는 따로 안해줘도됨 default는 singleton임 -->
		

</beans>

			
	

